/////////////////////////////////////////////
// colors 

:root {
  --color-primary: hsl(300, 43%, 22%);
  --color-soft-pink: hsl(333, 80%, 67%);

  --color-primary-dark-grey: hsl(303, 10%, 53%);
  --color-primary-light-grey: hsl(300, 24%, 96%);
  --color-white:hsl(0, 0%, 100%);
  

}