.background-pattern {
  z-index: 1;
  position: relative;
  &__top {
    position: absolute;
    top: 0;
    left: 0;
    @include responsive(375) {
      width: 100vw;
    }
  }

  &__bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    @include responsive(375) {
      width: 100vw;
    }
  }
}