.review-card{
  display: flex;
  flex:0 0 100%;
  margin-bottom: 5rem;
  justify-content: space-between;
  @include responsive(375){
    justify-content: center;
    flex-direction: column;
    margin-top: 7rem;
    margin-bottom: auto;
    flex: 0 0 88%;
  }

  &__item {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 1rem;
    padding: 4rem 3rem;
    flex: 0 0 31.5%;
    display: flex;
    flex-wrap: wrap;
    height: 86%;
    @include responsive(375){
      margin-bottom: 1.8rem;
    }
  }

  &__item:nth-child(1) {
    align-self: flex-start;
  }

  &__item:nth-child(2) {
    align-self: center;
  }

  &__item:nth-child(3) {
    align-self: flex-end;
  }
}

.card-item {
  &__img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    flex: 0 0 14%;
    margin-right: 2rem;
  }
  &__heading {
    font-size: 1.2rem;
    word-spacing: 2px;
    margin-bottom: .6rem;
  }

  &__description {
    margin-top: 2rem;
    font-size: 1.2rem;
    line-height: 1.7;
    letter-spacing: 0.5px;
    font-weight: 100;
    color: var(--color-primary-light-grey);
  }

  &__title-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__initial {
    color: var(--color-soft-pink);
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
}