.container {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  height: 100vh;
  margin: 0rem 16.6rem;
  flex-wrap: wrap;

  @include responsive(375) {
    justify-content: center;
    margin: 0 auto;
  }

  .ratings {
    height: 30vh;
    margin-top: 14.5rem;
    flex: 0 0 49%;
    display: flex;
    flex-direction: column;
    @include responsive(375) {
      flex: 0 0 90%;
      margin: 6.5rem 4rem 4.5rem 4rem;
      height: 40vh;
    }

    &__item{
      background-color: var(--color-primary-light-grey);
      border-radius: 1rem;
      padding: 1.8rem 0rem;
      margin-bottom: 1.6rem;
      width: 44rem;
      display: flex;
      align-items: center;

      @include responsive(375) {
        flex-wrap: wrap;
        justify-content: center;
        width: 33rem;
        flex-direction: column;
      }

      &-text {
        color: var(--color-primary);
        font-size: 1.3rem;
        font-weight: 600;
        margin-left: 3rem;
        @include responsive(375) {
          margin: 1rem 0 0 0;
          text-align: center;
        }
      }

      &-stars {
        margin-left: 3rem;
        @include responsive(375) {
          margin: auto;
        }
      }
    }

    &__item:nth-child(1) {
      align-self: flex-start;
      @include responsive(375) {
        align-items: stretch;
      }
    }

    &__item:nth-child(2) {
      align-self: center;
      @include responsive(375) {
        align-items: stretch;
      }
    }

    &__item:nth-child(3) {
      align-self: flex-end;
      @include responsive(375) {
        align-items: stretch;
      }
    }

    &__star-icon {
      margin-left: .5rem;
    }
  }
}